.forgotbody {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.inputforgot[type=text], input[type=password] {
  width: 50%;
  padding: 12px 18px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:18px;
}


.buttonforgot {
  background-color: #fff500;
  color: black;
  padding: 12px 20px;
  margin: 8px 145px;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius:18px;
}

.buttonforgot:hover {
  opacity: 0.8;
}

.containerforgot {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 20px;
}
.borderforgot{
border-radius:25px;
border-color:#eeeeee;
background-color:#eeeeee;
margin-top: 90px;

}
.hrforgot {
  border: 0.5px solid #fff500;
  margin-bottom: 15px;  
  margin-top: 15px;
  width:50%;
  margin:8px 140px}



@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
}
}