.loginbody {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #eeeeee;}

.inputet {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius:18px;
}


.butonet {
  background-color: #fff500;
  color: black;
  padding: 12px 20px;
  margin: 8px 145px;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius:18px;
}

.butonet:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 20px;
}
.border{
border-radius:25px;
border-color:#eeeeee;
background-color:#eeeeee;
margin-top: 90px;

}
.hri {
  border: 0.5px solid #fff500;
  margin-bottom: 15px;  
  margin-top: 15px;
  width:53%;
  margin:8px 140px}



@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
}
}